/* Remove estilização dos navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
}

:root {
  --text: #000000;
  --vermelho: #a81b16;
  --ambarOuro: #d4920a;
  --azul: #2a4e9e;
  --cremeClaro: #fff9f2;
  --creme: #f2ebe0;
  --cinza: #d7d7d7;
  --vinhoEscuro: #5c1612;
  --carvao: #221510;
  --branco: #f8f9fa;
  font-family: "Fredoka", "Inter", sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  color: var(--vinhoEscuro);
}

#center {
  background-color: var(--cremeClaro);
}

label {
  font-weight: 600;
  color: var(--vinhoEscuro);
  font-size: 24px;
}
