/* KPIs */

.box_kpi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: var(--branco);
  border-radius: 7px;
  width: max-content;
  border-left: 4px solid var(--vinhoEscuro);
  transition-duration: 0.3s;
  transform: scale(1);
  gap: 20px;
}

.box_kpi:hover {
  background-color: var(--cinza);
  transition-duration: 0.3s;
  transform: scale(1.05);
}

.customIcon {
  fill: #000000 !important;
  font-size: 3rem !important;
}
